@using Chrominsky.Utils.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var searchOperators = new List<SelectListItem>
    {
        new SelectListItem { Value = "Contains", Text = "Contains" },
        new SelectListItem { Value = "Equals", Text = "Equals" }
    };
}

<div class="text-center">
    <picture>
        <img src="~/SimpleTenantBanner2.jpeg" class="img-fluid img-thumbnail" alt="banner" style="zoom: 0.4">
    </picture>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="col-md-11">
                    <form method="post" asp-action="SearchTenant" class="search-form d-flex">
                        <div class="input-group mb-3 mr-2">
                            <input asp-for="SearchTerm" type="text" name="searchTerm" placeholder="Search by Name"
                                   class="form-control">
                            <select class="selectSearchForm form-select form-select-sm custom-select-width" id="SearchOperator" name="SearchOperator"
                                    asp-for="SearchOperator" asp-items="searchOperators">
                            </select>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <div class="mb-3 mr-2">
                        <a asp-action="AddNew" class="btn btn-success"><i class="bi bi-building-fill-add"></i>Add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="container text-center table">
        <thead>
        <tr class="row">
            <th class="col-4">Id</th>
            <th class="col-4">Name</th>
            <th class="col-1">Status</th>
            <th class="col-3">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tenant in Model.Tenants)
        {
            <tr class="row">
                <td class="col-4">@tenant.Id</td>
                <td class="col-4">@tenant.TenantName</td>
                <td class="col-1">@tenant.Status</td>
                <td class="col-3 text-right">
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <a asp-action="Edit" asp-route-id="@tenant.Id" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a asp-action="Remove" asp-route-id="@tenant.Id" class="btn btn-outline-danger">
                            <i class="bi bi-bucket"></i>
                            Remove
                        </a>
                        @if (tenant.Status == DatabaseEntityStatus.Active)
                        {
                            <a asp-action="Disable" asp-route-id="@tenant.Id" class="btn btn-warning">
                                <i class="bi bi-lightbulb-off"></i>
                                Disable
                            </a>
                        }
                        else
                        {
                            <a asp-action="Enable" asp-route-id="@tenant.Id" class="btn btn-success">
                                <i class="bi bi-lightbulb-fill"></i>
                                Enable
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-auto">
                <div class="text-right">
                    <ul class="pagination">
                        @if (Model.Page > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page - 1)">Previous</a>
                            </li>
                        }
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.Page)
                            {
                                <li class="page-item active">
                                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                            }
                        }
                        @if (Model.Page < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="Index" asp-route-page="@(Model.Page + 1)">Next</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-auto">
                Total items: @Model.TotalCount
            </div>
        </div>
    </div>
</div>