@using Chrominsky.Utils.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    var searchOperators = new List<SelectListItem>
    {
        new SelectListItem { Value = "Contains", Text = "Contains" },
        new SelectListItem { Value = "Equals", Text = "Equals" }
    };
}

<div class="text-center">
    <picture>
        <img src="~/SimpleTenantBanner2.jpeg" class="img-fluid img-thumbnail" alt="banner" style="zoom: 0.4">
    </picture>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mb-3">

                <div class="col-md-11">
                    <form method="post" asp-action="SearchTenant" class="search-form d-flex">
                        <div class="input-group mb-3 mr-2">
                            <input asp-for="SearchTerm" type="text" name="searchTerm" placeholder="Search by Name"
                                   class="form-control">
                            <select class="selectSearchForm form-select form-select-sm custom-select-width" id="SearchOperator" name="SearchOperator"
                                    asp-for="SearchOperator" asp-items="searchOperators">
                            </select>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i> Search
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <div class="mb-3 mr-2">
                        <a asp-action="AddNew" class="btn btn-success"><i class="bi bi-building-fill-add"></i>Add new</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tenant in Model.Tenants)
        {
            <tr>
                <td>@tenant.Id</td>
                <td>@tenant.TenantName</td>
                <td>@tenant.Status</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Default button group">
                        <a asp-action="Edit" asp-route-id="@tenant.Id" class="btn btn-outline-primary">
                            <i class="bi bi-pencil-square"></i>
                            Edit
                        </a>
                        <a asp-action="Remove" asp-route-id="@tenant.Id" class="btn btn-outline-danger">
                            <i class="bi bi-bucket"></i>
                            Remove
                        </a>
                        @if (tenant.Status == DatabaseEntityStatus.Active)
                        {
                            <a asp-action="Disable" asp-route-id="@tenant.Id" class="btn btn-warning">
                                <i class="bi bi-lightbulb-off"></i>
                                Disable
                            </a>
                        }
                        else
                        {
                            <a asp-action="Enable" asp-route-id="@tenant.Id" class="btn btn-success">
                                <i class="bi bi-lightbulb-fill"></i>
                                Enable
                            </a>
                        }
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>